@model IEnumerable<Holidayaro.Models.Hotel>

@{
    ViewData["Title"] = "Hotels";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h5>Hotels</h5>
<div class="table-box d-flex flex-column">
    <div class="table-box-top d-flex justify-content-between align-items-center">
            <a class="btn btn-primary" asp-action="Create">Add Hotel</a>
        <div  class="table-box-top-options d-flex align-items-end">
            <div class="row mr-5 align-items-end">
                <label class="mb-0 mr-2">Show items</label>
                <select></select>
            </div>
            <div class="row align-items-end">
                <label class="mb-0">Showing 1-10 of 140</label>
                <div class="btns-box d-flex ml-3">
                    <button class="btn"><i class='bx bx-chevron-left'></i></button>
                    <button  class="btn"><i class='bx bx-chevron-right'></i></button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)  $
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Days)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Board)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HotelDescriptions).Substring(0, 5) @Html.DisplayNameFor(model => model.HotelDescriptions).Substring(5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HotelDescriptions).Substring(0, 5) @Html.DisplayNameFor(model => model.HotelDescriptions).Substring(5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotosUrls).Substring(0, 6) @Html.DisplayNameFor(model => model.PhotosUrls).Substring(0, 6)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div> @Html.DisplayFor(modelItem => item.Name)</div>
                    </td>
                    <td>
                        <div> @Html.DisplayFor(modelItem => item.Country)</div>
                    </td>
                    <td>
                        <div>  @Html.DisplayFor(modelItem => item.Price)</div>
                    </td>
                    <td>
                        <div> @Html.DisplayFor(modelItem => item.Rating)</div>
                    </td>
                    <td>
                        <div>@Html.DisplayFor(modelItem => item.Days)</div>
                    </td>
                    <td>
                        <div>@Html.DisplayFor(modelItem => item.Room)</div>
                    </td>
                    <td>
                        <div>@Html.DisplayFor(modelItem => item.Board)</div>
                    </td>
                    <td>
                        <div>
                            @foreach (var element in item.HotelDescriptions)
                            {
                                <p>@Html.DisplayFor(m => element.Name)</p>
                            }
                        </div>


                    </td>
                    <td>
                        <div>
                            @foreach (var element in item.HotelAttractions)
                            {
                                <p>@Html.DisplayFor(m => element.Name)</p>
                            }
                        </div>

                    </td>
                    <td>
                        <div>
                            @foreach (var element in item.PhotosUrls)
                            {
                                <p>@Html.DisplayFor(m => element.PhotoUrl)</p>
                            }
                        </div>

                    </td>


                    <td>
                        <div >
                            <a asp-action="Edit" asp-route-id="@item.HotelId">
                                <i class='bx bx-edit'></i>
                            </a> 
                            <a asp-action="Delete" asp-route-id="@item.HotelId">
                                <i class='bx bx-trash-alt'></i>
                            </a>
                        </div>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

