

@{
    ViewData["Title"] = "Hotels";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    var totalItems = @ViewBag.Results.amount;
</script>

<h5>Hotels</h5>
<div class="table-box d-flex flex-column">
    <div class="table-box-top d-flex justify-content-between align-items-center">
            <a class="btn btn-primary" asp-action="Create">Add Hotel</a>
        <div  class="table-box-top-options d-flex align-items-end">
            <div class="row mr-5 align-items-end">
                <label class="mb-0 mr-2">Show items</label>
                <select id="show-items-select">
                    <option value="@ViewBag.Results.amount">All</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div class="row align-items-end">
                <label class="mb-0" id="items-amount-heading"></label>
                <div class="btns-box d-flex ml-3">
                    <button class="btn" id="previous-page-btn"><i class='bx bx-chevron-left'></i></button>
                    <button  class="btn" id="next-page-btn"><i class='bx bx-chevron-right'></i></button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                   Name
                </th>
                <th>
                   Country
                </th>
                <th>
                  Price $
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Days
                </th>
                <th>
                    Room
                </th>
                <th>
                   Board
                </th>
                <th>
                    Hotel Descriptions
                </th>
                <th>
                    Hotel Attractions
                </th>
                <th>
                    Photos Urls
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Results.results)
            {
                <tr>
                    <td>
                        <div> @item.Name</div>
                    </td>
                    <td>
                        <div> @item.Country</div>
                    </td>
                    <td>
                        <div>  @item.Price</div>
                    </td>
                    <td>
                        <div> @item.Rating</div>
                    </td>
                    <td>
                        <div>@item.Days</div>
                    </td>
                    <td>
                        <div>@item.Room</div>
                    </td>
                    <td>
                        <div>@item.Board</div>
                    </td>
                    <td>
                        <div>
                            @foreach (var element in item.HotelDescriptions)
                            {
                            <p>@element.Name</p>
                            }
                        </div>


                    </td>
                    <td>
                        <div>
                            @foreach (var element in item.HotelAttractions)
                            {
                                <p>@element.Name</p>
                            }
                        </div>

                    </td>
                    <td>
                        <div>
                            @foreach (var element in item.PhotosUrls)
                            {
                                <p>@element.PhotoUrl</p>
                            }
                        </div>

                    </td>


                    <td>
                        <div >
                            <a asp-action="Edit" asp-route-id="@item.HotelId">
                                <i class='bx bx-edit'></i>
                            </a> 
                            <a asp-action="Delete" asp-route-id="@item.HotelId">
                                <i class='bx bx-trash-alt'></i>
                            </a>
                        </div>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

