@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5>Reservations</h5>

<script>
    var totalItems = @ViewBag.Results.amount;
</script>


<div class="table-box d-flex flex-column">
    <div class="table-box-top d-flex justify-content-end align-items-center">
        <div class="table-box-top-options d-flex align-items-end">
            <div class="row mr-5 align-items-end">
                <label class="mb-0 mr-2">Show items</label>
                <select id="show-items-select" >
                    <option value="@ViewBag.Results.amount">All</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div class="row align-items-end">
                <label class="mb-0" id="items-amount-heading"></label>
                <div class="btns-box d-flex ml-3">
                    <button class="btn" id="previous-page-btn"><i class='bx bx-chevron-left'></i></button>
                    <button class="btn" id="next-page-btn"><i class='bx bx-chevron-right'></i></button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ReservationId
                </th>
                <th>
                    UserToken
                </th>
                <th>
                    HotelId
                </th>
                <th>
                    Hotel Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    DateOfBirth
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in ViewBag.Results.results)
            {
            <tr>
                <td>
                    <div>@item.ReservationId</div>
                </td>
                <td>
                    <div>@item.UserToken</div>
                </td>
                <td>
                    <div>@item.HotelId</div>
                </td>
                <td>
                    <div>@item.Hotel.Name</div>
                </td>
                <td>
                    <div>@item.Date</div>
                </td>
                <td>
                    <div>@item.Name</div>
                </td>
                <td>
                    <div>@item.Surname</div>
                </td>
                <td>
                    <div>@item.Email</div>
                </td>
                <td>
                    <div>@item.Phone</div>
                </td>
                <td>
                    <div>@Html.Raw(item.DateOfBirth.ToString().Split(' ')[0])</div>
                </td>



                <td>
                    <div>
                        <a asp-action="Delete" asp-route-id="@item.ReservationId">
                            <i class='bx bx-trash-alt'></i>
                        </a>
                    </div>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

