@model Holidayaro.Models.Hotel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

<script>
    var hotelRating = @Model.Rating;
    var hotelName = '@Model.Name';
    var hotelPrice = @Model.Price;
</script>


<div class="current-offer">
    <div class="image-modal">
        <i class='bx bx-x ' id="close-image-modal"></i>
        <div class="image-modal-img"></div>
    </div>
    <div class="current-offer-top">
        <p>@Model.Country</p>
        <span>/</span>
        <p>@Model.Name</p>
    </div>

    <div class="reservation-modal-bg">
        <div class="reservation-modal">
            <div class="reservation-modal-img mt-1"></div>
            <h4 class="my-4" id="reservation-heading">Reservation</h4>
            <div class="reservation-modal-form">
                <div class="reservation-modal-form-group">
                    <label>Name</label>
                    <input id="name-input" type="text" />
                    <span id="name-error"></span>
                </div>
                <div class="reservation-modal-form-group">
                    <label>Surname</label>
                    <input id="surname-input" type="text" />
                    <span id="surname-error"></span>
                </div>
                <div class="reservation-modal-form-group">
                    <label>Email</label>
                    <input id="email-input" type="text" />
                    <span id="email-error"></span>
                </div>
                <div class="reservation-modal-form-group">
                    <label>Phone</label>
                    <input id="phone-input" type="text" />
                    <span id="phone-error"></span>
                </div>
                <div class="reservation-modal-form-group">
                    <label>Date of birth</label>
                    <input id="date-of-birth-input" type="date" />
                    <span id="date-of-birth-error"></span>
                </div>
                <div class="reservation-modal-form-group">
                    <button id="payment-btn" class="btn">GO TO PAYMENT</button>
                    <button id="cancel-btn" class="btn">CANCEL</button>
                </div>
            </div>
        </div>
    </div>

    <div class="payment-modal-bg">
        <div class="payment-modal">
            <h4>Payment</h4>
            <hr class="purple"/>
            <div class="row justify-content-between">
                <div class="payment-modal-card" id="card-payment">
                    <div class="payment-modal-card-bg" style="background-image: url('/assets/Group 3.png')"></div>
                </div>
                <div class="payment-modal-card disactive" id="paypal-payment">
                    <div class="payment-modal-card-bg" style="background-image: url(https://cdn.freebiesupply.com/logos/large/2x/paypal-logo-png-transparent.png)"></div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-7">
                    <div class="payment-modal-form-group ">
                        <label>Card number</label>
                        <input type="text" id="card-number-input" class="text-center"/>
                        <span id="card-number-error"></span>
                    </div> 
                    <div class="payment-modal-form-group">
                        <label>Card holder name</label>
                        <input type="text" id="card-holder-name-input" />
                        <span id="card-holder-name-error"></span>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="payment-modal-form-group">

                                <label>Expiration date</label>
                                <div class="row">
                                    <select id="month-select"></select>
                                    <select id="year-select"></select>
                                </div>
                                <span id="expiration-date-error"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="payment-modal-form-group">
                                <label>CVV</label>
                                <input type="text" id="ccv-input" />
                                <span id="cvv-error"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="payment-modal-form-group">
                        <label>Email</label>
                        <input type="text" id="paypal-email-input" />
                        <span id="paypal-email-error"></span>
                    </div>
                </div>
            </div>
            <hr class="mt-5"/>
            <div class="row justify-content-end align-items-center">
                <p>Your total is $@Model.Price</p>
                <button class="btn" id="make-payment-btn">PAY</button>
            </div>
        </div>
        
    </div>
    

    <div class="current-offer-top-box row mt-3 mx-0 bg-light">
        <div class="col-8 px-0">
            <div class="current-offer-bg" style="background-image: url(@Model.PhotosUrls.First().PhotoUrl)" ></div>
            <div class="row mx-0 current-offer-top-box-gallery">
                <button class="gallery-btn">
                    <i class='bx bx-chevron-left'></i>
                </button>
                <div class="current-offer-top-box-gallery-images">
                    @foreach (var element in Model.PhotosUrls)
                    {
                        <div class="current-offer-top-box-gallery-item" onclick="setCurrentOfferImg('@Html.Raw(element.PhotoUrl)')">
                            <div class="current-offer-top-box-gallery-item-img" style="background-image: url(@Html.DisplayFor(m => element.PhotoUrl))"></div>
                        </div>
                    }
                </div>

                <button class="gallery-btn">
                    <i class='bx bx-chevron-right'></i>
                </button>
            </div>
        </div>
        <div class="col-4 d-flex pl-0 pr-0  flex-column">
            <div class="current-offer-item-box ">
                <div class="current-offer-item-box-inside flex-column">
                    <h6>@Model.Name.ToUpper()</h6>
                    <div class="current-offer-stars-box"></div>
                </div>
            </div>
            <div class="current-offer-item-box">
                <div class="current-offer-item-box-inside">
                    <h5>@Model.Country </h5>
                    <div class="current-offer-stars-box"></div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-6 current-offer-item-box">
                    <div class="current-offer-item-box-inside flex-column align-items-center justify-content-center">
                        <p class="bold-info">@Model.Days</p>
                        <span>days</span>
                    </div>
                </div>
                <div class="col-6 current-offer-item-box">
                    <div class="current-offer-item-box-inside flex-column align-items-center justify-content-center">
                        <div class="row mx-0  align-items-end">
                            <p class="bold-info">@Model.Rating</p>
                            <span>/</span>
                            <span>10</span>
                        </div>

                        <span>guest ratings</span>
                    </div>
                </div>
            </div>
            <div class="current-offer-item-box  align-items-center justify-content-center border-bottom-0">
                <div class="current-offer-item-box-inside flex-column">
                    <button class="btn mb-3" id="book-btn">
                        BOOK NOW
                    </button>
                    <a href="/" class="btn">
                            GO BACK
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="current-offer-bottom mt-4  pb-5">
        <div class="row mx-0">
            <div class="col-8 current-offer-bottom-hotel-information-box px-0 ">
                <div class="current-offer-bottom-hotel-information-box-menu px-0">

                    <div class="col-4 px-0">
                        <button class="btn" id="hotel-btn">
                            <i class='bx bx-building'></i>
                            <p>Hotel</p>
                        </button>
                    </div>
                    <div class="col-4 px-0">
                        <button class="btn" id="room-btn">
                            <i class='bx bx-hotel'></i>
                            <p>Rooms</p>
                        </button>
                    </div>
                    <div class="col-4  px-0">
                        <button class="btn" id="board-btn">
                            <i class='bx bx-dish'></i>
                            <p>Board</p>
                        </button>
                    </div>

                </div>
                <div class="current-offer-bottom-hotel-information-box-main">
                    <div class="row mx-0">
                        <div class="current-offer-bottom-hotel-information-box-main-hotel mb-3">
                            <div class="d-flex w-100 flex-column">
                                <h6 class="pl-4 mb-0 mt-3">Hotel descriptions</h6>
                                <hr class="w-100 mt-2" />
                            </div>
                            @foreach (var element in Model.HotelDescriptions)
                            {
                                <div class="col-4 hotel-description">
                                    <div class="icon-box">
                                        <i class='bx bxs-sun'></i>
                                    </div>

                                    <p>@Html.DisplayFor(h => element.Name)</p>
                                </div>
                            }
                            <div class="d-flex w-100 flex-column mt-4">
                                <h6 class="pl-4 mb-0 mt-3">Hotel attractions</h6>
                                <hr class="w-100 mt-2" />
                            </div>
                            @foreach (var element in Model.HotelAttractions)
                            {
                                <div class="col-4 hotel-attraction">
                                    <div class="icon-box">
                                        <i class='bx bxs-wine'></i>
                                    </div>

                                    <p>@Html.DisplayFor(h => element.Name)</p>
                                </div>
                            }
                        </div>
                        <div class="current-offer-bottom-hotel-information-box-main-room mb-3">
                            <div class="col mt-3">
                                <p class="description">@Html.Raw(Model.Room.Replace(";", "<br />"))</p>
                            </div>

                        </div>

                        <div class="current-offer-bottom-hotel-information-box-main-board mb-3">
                            <div class="col mt-3">
                                <p class="description">@Html.Raw(Model.Board.Replace(";", "<br />"))</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-0 pr-0">
                <div class="current-offer-bottom-offers-box">
                    <div class="current-offer-bottom-offers-box-inside">
                        <h4>You May Also Like</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/offerDetails.js" asp-append-version="true"></script>
    <script src="~/js/reservations.js" asp-append-version="true"></script>
  
}