


@{
    ViewData["Title"] = "Payments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    var totalItems = @ViewBag.Results.amount;
</script>

<h5>Payments</h5>


<div class="table-box d-flex flex-column">
    <div class="table-box-top d-flex justify-content-end align-items-center">
        <div class="table-box-top-options d-flex align-items-end">
            <div class="row mr-5 align-items-end">
                <label class="mb-0 mr-2">Show items</label>
                <select id="show-items-select">
                    <option value="@ViewBag.Results.amount">All</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div class="row align-items-end">
                <label class="mb-0"  id="items-amount-heading"></label>
                <div class="btns-box d-flex ml-3">
                    <button class="btn" id="previous-page-btn"><i class='bx bx-chevron-left'></i></button>
                    <button class="btn" id="next-page-btn"><i class='bx bx-chevron-right'></i></button>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    PaymentId
                </th>
                <th>
                    ReservationId
                </th>

                <th>
                    Name & Surname
                </th>
                <th>
                   HotelId
                </th>
                <th>
                    Credit Card Number
                </th>
                <th>
                    Credit Card Holder Name
                </th>
                <th>
                    Credit Card Expiration
                </th>
                <th>
                    Credit Card Cvv
                </th>
                <th>
                    Paypal Email
                </th>
                <th>
                    Payment Amount
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Results.results)
            {
            <tr>
                <td>
                    <div> @item.PaymentId</div>
                </td>
                <td>
                    <div> @item.ReservationId</div>
                </td>
                <td>
                    <div>  @item.Reservation.Name  @item.Reservation.Surname</div>
                </td>
                <td>
                    <div> @item.Reservation.HotelId</div>
                </td>
                <td>
                    <div> @item.CreditCardNumber</div>
                </td>

                <td>
                    <div> @item.CreditCardHolderName</div>
                </td>
                <td>
                    <div>@item.CreditCardExpirationMonth.@item.CreditCardExpirationYear</div>
                </td>
                <td>
                    <div>@item.CreditCardCvv</div>
                </td>
                <td>
                    <div>@item.PaypalEmail</div>
                </td>
                <td>
                    <div>@item.PaymentAmount</div>
                </td>




                <td>
                    <div>
                        <a asp-action="Delete" asp-route-id="@item.PaymentId">
                            <i class='bx bx-trash-alt'></i>
                        </a>
                    </div>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>




